﻿@model CategoriesWebApp.Models.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
<h1>Reset Password</h1>
<form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
    <h4>Create new account</h4>
    <hr />
    <input asp-for="Token" hidden />
    <input asp-for="Email" hidden />


    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-success">Reset Password</button>

        </div>
    </div>
</form>
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


