﻿
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h1>Reset Password Confirmation</h1>
<p>
    Your password has been reset. Please <a asp-controller="Account" asp-action="Login"> click here to log in</a>
</p>

