﻿@model List<Category>
    <ul class="list-unstyled components mb-5">
        @foreach (var category in Model)
        {
            @if (User.IsInRole(category.Role.Name)||category.Role.Name=="Public"||User.IsInRole("Admin"))
            {

                @if (category.SubCategories.Count > 0)
                {
                    <li>
                        <a href="#@category.Name" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">@category.Name</a>
                        <ul class="collapse list-unstyled" id="@category.Name">

                            @foreach (var subCategory in category.SubCategories)
                            {
                                @if (User.IsInRole(subCategory.Role.Name)||category.Role.Name=="Public"||User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="@Url.Action(subCategory.Action, category.Controller)">@subCategory.Name</a>
                                    </li>
                                }


                            }



                            </ul>

                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action(category.Action,category.Controller)">@category.Name</a>
                    </li>
                }
            }


        }
    </ul>