﻿@model CategoriesWebApp.Models.ViewModels.CreateCategoryViewModel
<div class="js-sub-category--div">
    <h5>SubCategory <a class="badge badge-danger text-white" onclick="Remove(this)"><i class="fa fa-minus"></i></a></h5>
    <hr />

    <input asp-for="SubCategories[Model.Index].Id" hidden />

    <div class="form-group">
        <label asp-for="SubCategories[Model.Index].Name" class="col-md-2"></label>
        <input asp-for="SubCategories[Model.Index].Name" class="form-control" />
        <span asp-validation-for="SubCategories[Model.Index].Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubCategories[Model.Index].Action" class="col-md-2"></label>
        <input asp-for="SubCategories[Model.Index].Action" class="form-control" />
        <span asp-validation-for="SubCategories[Model.Index].Action" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubCategories[Model.Index].Roles" class="col-md-2"></label>
        <select asp-for="SubCategories[Model.Index].RoleSelected" asp-items="@Model.Roles" class="form-control">
            <option disabled selected>--Select Role--</option>
        </select>
        <span asp-validation-for="SubCategories[Model.Index].RoleSelected" class="text-danger"></span>
    </div>

</div>


