﻿@using CategoriesWebApp.Models.ViewModels
@model CategoriesWebApp.Models.ViewModels.CreateCategoryViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Create Category</h1>
<form asp-action="Edit" method="post" role="form">
    <h4>Create new account</h4>
    <hr />
    <input asp-for="Index" hidden />
    <input asp-for="Roles" hidden />

    <div class="form-group">
        <label asp-for="Name" class="col-md-2"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Controller" class="col-md-2"></label>
        <input asp-for="Controller" class="form-control" />
        <span asp-validation-for="Controller" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Action" class="col-md-2"></label>
        <input asp-for="Action" class="form-control" />
        <span asp-validation-for="Action" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Roles" class="col-md-2"></label>
        <select asp-for="RoleSelected" asp-items="@Model.Roles" class="form-control">
            <option disabled selected>--Select Role--</option>

        </select>
        <span asp-validation-for="RoleSelected" class="text-danger"></span>

    </div>
    <h4>SubCategories <a class="badge badge-primary text-white" onclick="AddSubCategoryDiv();">+</a></h4>
    <hr />
    <div id="sub-categories-div">
        @if (Model.SubCategories != null && Model.SubCategories.Count > 0)
        {
            for (var index = 0; index < Model.SubCategories.Count; index++)
            {
                {
                    Model.Index = index;
                }

                <partial name="_CreateSubCategory" model="Model" />
            }

        }
        else
        {
            <div class="js-empty-message text-center">
                <br />
                <p>No SubCategories Added</p>
                <br />
            </div>
        }



    </div>
    <hr />
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-success ">Create</button>
        </div>
    </div>
</form>
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var index =  @Model.SubCategories.Count;

        function AddSubCategoryDiv() {
            $.ajax({
                url: '@Url.Action("CreateSubCategory")?index=' + index,
                dataType: "html",
                success: function(data) {
                    var $emptyMessage = $('.js-empty-message');
                    if ($emptyMessage.length > 0) {
                        $emptyMessage.hide();
                    }

                    $('#sub-categories-div').append(data);
                    index++;
                }
            });
        }

        function Remove(item) {
            $(item).closest('.js-sub-category--div').remove();
            if ($('.js-sub-category--div').length === 0) {
                $('.js-empty-message').show();
                index--;
            }
        }

        $('form').submit(function(e) {

            console.log($(this).serialize());
        });


    </script>
}

