﻿@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>
<a class="float-right" asp-action="Create"> Create Category</a>

<table class="table">
    <thead>
        <tr>
            <td class="font-weight-bold">Category</td>
            <td class="font-weight-bold">Controller</td>
            <td class="font-weight-bold">Action</td>
            <td class="font-weight-bold">Role</td>
            <td class="font-weight-bold">Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Controller</td>
                <td>@category.Action</td>
                <td>@category.Role.Name</td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning text-white">Edit</a>
                        <button onclick="Confirmation('@category.Id');" class="btn btn-danger"> Delete</button>
                    </div>


                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script>
        function Confirmation(id) {
            debugger;
            var r = confirm("Sure to delete?");
            if (r === true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete")?id=' + id,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function() {
                        location.reload();
                    }

                });

            }

            return;
        }
    </script>
}

