﻿@model CategoriesWebApp.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<form asp-controller="Users" asp-action="Create" method="post" role="form">
    <h4>Create new account</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Roles" class="col-md-2"></label>
        <select asp-for="RoleSelected" asp-items="@Model.Roles" class="form-control">
            <option disabled selected>--Select Role--</option>
        </select>
        <span asp-validation-for="RoleSelected" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-success">Create</button>

        </div>
    </div>
</form>
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}