﻿@model string
@{
    ViewData["Title"] = "CreateSucceeded";
}

<h1>Create Succeeded</h1>
<a>User reset password was sent to email: @Model</a>
<hr />
<div>
    <a class="btn btn-secondary" asp-action="Index">Back to Users</a>
</div>

