﻿@model CategoriesWebApp.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>
<form asp-controller="Users" asp-action="Edit" method="post" role="form">
    <h4>Edit User</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Email" hidden />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <input asp-for="Email" class="form-control" disabled />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Roles" class="col-md-2"></label>
        <select asp-for="RoleSelected" asp-items="@Model.Roles" class="form-control">
        </select>

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-warning text-white">Edit</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>

        </div>

    </div>
</form>
