﻿@model List<CategoriesWebApp.Models.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>
<a class="float-right" asp-action="Create"> Create User</a>

<table class="table">
    <thead>
        <tr>
            <td class="font-weight-bold">Email</td>
            <td class="font-weight-bold">Name</td>
            <td class="font-weight-bold">Role</td>
            <td class="font-weight-bold">Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@user.RoleSelected</td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-email="@user.Email" class="btn btn-warning text-white">Edit</a>
                        <button onclick="Confirmation('@user.Email');" class="btn btn-danger"> Delete</button>
                    </div>


                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script>
        function Confirmation(email) {
            debugger;
            var r = confirm("Sure to delete?");
            if (r === true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete")?email=' + email,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function() {
                        location.reload();
                    }

                });

            }

            return;
        }
    </script>
}
